:root {
  --main-rojo: #E90929;
  --main-verde: #00B24E;
  --main-light: #f8f9fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: var(--main-light);
}
.header-logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center; 
}
.logo-granbonanza {
  height: 100px;
  margin-left: 1.5rem;
}
.nav-menu {

}
.nav-menu__list {
  list-style: none;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
}
.nav-menu__list li a {
  text-decoration: none;
  font-size: small;
  color: black;
  font-weight: 500;
}