:root {
    --main-rojo: #E90929;
    --main-verde: #00B24E;
    --main-light: #FEFEFE;
}
html {
    font-size: 62.5%;
    background-color: var(--main-light);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 8rem;
}
.header-container {
    display: flex;
    padding: 0;
    margin-block: 0;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}
.container-logo {
    height: auto;
    width: auto;
    margin-left: 1rem;
}
.header_logo {
    background-image: url(../logos/img/lamexicanaabarroteschica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.container-menu {
    height: auto;
    width: auto;
    margin-right: 1rem;
}
.hamburger-menu img {
    height: 6rem;
    background-image: url(../logos/hamburguermenu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main-description {
    display: grid;
    
}
.description-title {

}
.parraf {

}