:root {
  --main-rojo: #E90929;
  --main-verde: #00B24E;
  --main-light: #f8f9fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: var(--main-light);
}
.header-logo {
  display: flex;
  flex-wrap: wrap;
  align-content: center; 
}
.logo-granbonanza {
  height: 100px;
  margin-left: 1.5rem;
}
.nav-menu {

}
.nav-menu__list {
  list-style: none;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
  margin-right: 2rem;
  align-items: center;
  gap: .8rem;
}
.buscar-logo__productos {
  height: 3rem;
}
.usuario-logo__iniciodesesion {
  height: 3rem;
}
.carrito-logo__micarrito {
  height: 2.5rem;
}